.container {
    position: fixed;
    top: -100px;
    left: 50%;
    width: 600px;
    height: 650px;
    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, 120px);
    z-index: 20;
    padding: 30px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: modalSlide 0.3s;
}

.container > a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin: 10px 0; 
}

.cancel__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 600;
    width: 25px;
    height: 25px;
    font-size: 25px;
    top: 15px;
    left: 90%;
    color: #777;
    border-radius: 50%;
    padding: 10px;
    transform: scaleX(1.1);
}

.cancel__button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

@keyframes modalSlide {
    from {
      transform: translate(-50%, -100px);
      opacity: 0;
    }
  
    to {
      transform: translate(-50%, 120px);
      opacity: 1;
    }
}  